.Dropdown {
  background: #ffffff;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.DropdownItem:hover {
  background: #dedede;
}

.DropdownToggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  background: #ffffff;
  border-radius: 5px;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  min-height: 35px;
  color: #000000;
}
