.AddButton {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #5e6c84;
  padding: 4px;
  border-radius: 5px;
}

.AddButton:hover {
  background: #ffffff;
}

.SubmitButton {
  background: #0079bf;
  border-radius: 5px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
